
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
   margin-left: 12%;
   width: 1000px;
   height: 150px;
   background-color: rgb(187, 18, 18);
}
.container1{
    display: flex;
    flex-direction: row;
     width: 1000px;
     height: 150px;
     
}
.box3{
    flex: 1;
}
.Box4{
    width: 100%;
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: flex-end;
}
.container1 .Box3 h3{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container1 .Box3 h5{
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    color: white;
}
 #fb,#Tweet,#google,#insta {
 width: 48px;
 height: 48px;
 margin: 1%;
}
#bannerimg{
    margin-top: 1%;
    width: 200px;
    height: 142px;
}
.container2{
  
   width: 1000px;
   height: 46px;
   background-color: black;
   text-decoration: none;
  
}
/* .container2:hover{
   color: green;
} */
.container3{
    width: 1000px;
  height: 450px;
  border: 1px solid rgb(221, 44, 44);
}
footer{
    width: 1000px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
}
nav{
    background-color: black;
    height: 60px;
}
nav ul{
    list-style: none;
    margin: 18px 20px;
    float: left;
}
nav ul li{
display: inline;
padding: 0px 15px;
}
nav ul li a{
text-decoration: none;
color: white;
font-family: 'Oswald', sans-serif;
}
nav ul li a:hover{
color: rgb(165, 157, 157);
}
/* .img1,.img2,.img3,.img4,.img5,.img6
        {
            position: absolute;
            display: flex;
            top: 20%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .img1{
            left: 12%;
        }
        .img2{
            left: 24%;
        }
        .img3{
            left: 15%;
        }
        .img4{
            left: 30%;
        }
        .img5{
            left: 45%;
        }
        .img6{
            left: 50%;
        }
        .img1>a,.img2>a,.img3>a,.img4>a,.img5>a,.img6>a
        {
            text-decoration: none;
            
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .img1>a:hover,.img2>a:hover,.img3>a:hover,.img4>a:hover,.img5>a:hover,.img6>a:hover{
            color: rgba(128, 128, 128, 0.918);
        } */
        